.weather {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 20px;
    color: #000;
}

.weather img {
    width: 45px;
    height: 45px;
}

.weather .dec {
    width: 1.8px;
    height: 35px;
    background-color: #000;
    margin-right: 10px;
}

.weather p {
    font-size: 0.8rem;
}
