body {
    font-family: var(--fuente-principal);
    background-color: #f5f3f8;
}

.container {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
